<div [class]="'modalOverlay ' + overlayClass" (click)="onOverlayClicked($event)" [style.display]="visible ? 'block' : 'none'" [style.z-index]="zIndex">
    <div [class]="'modalWindow ' + modalClass">
        <div *ngIf="showCloseButton" (click)="hide()" class="modalCloseBtn">&times;</div>

        <div>
            <ng-content select="[header]"></ng-content>
        </div>
        <div>
            <ng-content select="[body]"></ng-content>
        </div>
        <div>
            <ng-content select="[footer]"></ng-content>
        </div>
    </div>
</div>