<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
				<img src="assets/logo.svg" alt="@browninglogic/ng-modal logo" class="logo">
			</div>
			<div class="col-sm-8 text-center text-md-left">
				<h1>@browninglogic/ng-modal</h1>
				<p>A simple, lightweight interface for creating layered modal dialogs in Angular 5</p>
				<p>Scroll down to see it in action!</p>
				<p class="buttons">
					<a class="btn btn-outline-primary btn-lg" href="https://github.com/pfbrowning/ng-modal" target="_blank"><i class="fa fa-github fa-lg"></i>  Code on Github</a>
					<a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank"><i class="fa fa-book fa-lg"></i>  Documentation</a>
					<a class="btn btn-outline-primary btn-lg" href="#" (click)="editOnStackBlitz()"><i class="fa fa-bolt fa-lg"></i>  Edit on StackBlitz</a>
        		</p>
			</div>
		</div>

	</div>
</div>

<section class="home">
	<div class="container">
		<ul class="exampleList">
			<li>
				<input type="button" (click)="layeredExample1.show()" value="Show Example 1" />
			</li>
			<li>
				<input type="button" (click)="closeOnOverlayClickExample.show()" value="Show Example 2" />
			</li>
			<li>
				<input type="button" (click)="closeButtonExample.show()" value="Show Example 3" />
			</li>
			<li>
				<input type="button" (click)="onlyCloseProgrammaticallyExample.show()" value="Show Example 4" />
			</li>
			<li>
				<input type="button" (click)="customStylingExample.show()" value="Show Example 5" />
			</li>
		</ul>

		<nm-modal-window #layeredExample1>
			<h1 header>You can put stuff in the header</h1>
			<div body>
				<p>Modal body paragraph text</p>
				<input type="button" value="Show Another Modal" (click)="layeredExample2.show()" />
			</div>
			<div footer>You can also put stuff in the footer</div>
		</nm-modal-window>
		

		<nm-modal-window #layeredExample2>
			<h1 header>Another Modal</h1>
			<div body>
				<p>I'm layered on top of the first modal!  Wow!</p>
				<input type="button" value="Close Me" (click)="layeredExample2.hide()" />
			</div>
		</nm-modal-window>

		<nm-modal-window #closeOnOverlayClickExample [closeOnOverlayClick]="true" [showCloseButton]="false">
			<div body>
				<p>This modal doesn't show a close button, but it will close if you click on the grey overlay.</p>
			</div>
		</nm-modal-window>

		<nm-modal-window #closeButtonExample [closeOnOverlayClick]="false" [showCloseButton]="true">
			<div body>
				<p>This modal shows a close button, but it will not close if you click on the grey overlay.</p>
			</div>
		</nm-modal-window>

		<nm-modal-window #onlyCloseProgrammaticallyExample [closeOnOverlayClick]="false" [showCloseButton]="false">
			<div body>
				<p>
					This modal doesn't show a close button and it will not close if you click on the grey overlay.
					It will only close if you call modalInstance.hide() on the component instance.  This is useful
					if you want to implement your own close button or lock the screen to prevent the user
					from interacting with the page behind the modal.
				</p>
				<input type="button" value="Close Me" (click)="onlyCloseProgrammaticallyExample.hide()" />
			</div>
		</nm-modal-window>

		<nm-modal-window #customStylingExample modalClass="customStylingModal" overlayClass="customStylingOverlay">
			<div body>
				<p>This modal uses custom styling to change the border color of the modal window and the opacity of the overlay.</p>
			</div>
		</nm-modal-window>
	</div>
</section>
