<mat-toolbar color="primary">
  <span>Browninglogic Ng-Modal Demo</span>
  <span class="fill-remaining"></span>
  <a mat-raised-button color="primary" href="https://pfbrowning.github.io/ng-modal/doc/" target="_blank">Documentation</a>
  <a mat-raised-button color="primary" href="https://github.com/pfbrowning/ng-modal" target="_blank">Github</a>
</mat-toolbar>

<div style="text-align:center">
  <img width="200" alt="Angular Logo" src="assets/logo.svg">
  <h1 class="mat-h1">
    Welcome to the @browninglogic/ng-modal demo!
  </h1>
</div>

<section>
  <ul class="exampleList">
    <li>
      <button type="button" mat-raised-button color="primary" (click)="layeredExample1.show()">Show Example 1</button>
    </li>
    <li>
      <button type="button" mat-raised-button color="primary" (click)="closeOnOverlayClickExample.show()">Show Example 2</button>
    </li>
    <li>
      <button type="button" mat-raised-button color="primary" (click)="closeButtonExample.show()">Show Example 3</button>
    </li>
    <li>
      <button type="button" mat-raised-button color="primary" (click)="onlyCloseProgrammaticallyExample.show()">Show Example 4</button>
    </li>
    <li>
      <button type="button" mat-raised-button color="primary" (click)="customStylingExample.show()">Show Example 5</button>
    </li>
  </ul>

  <nm-modal-window #layeredExample1>
    <h1 header>You can put stuff in the header</h1>
    <div body>
      <p>Modal body paragraph text</p>
      <button type="button" mat-raised-button color="primary" (click)="layeredExample2.show()">Show Another Modal</button>
    </div>
    <div footer>You can also put stuff in the footer</div>
  </nm-modal-window>

  <nm-modal-window #layeredExample2>
    <h1 header>Another Modal</h1>
    <div body>
      <p>I'm layered on top of the first modal!  Wow!</p>
      <button type="button" mat-raised-button color="primary" (click)="layeredExample2.hide()">Close Me</button>
    </div>
  </nm-modal-window>

  <nm-modal-window #closeOnOverlayClickExample [closeOnOverlayClick]="true" [showCloseButton]="false">
    <div body>
      <p>This modal doesn't show a close button, but it will close if you click on the grey overlay.</p>
    </div>
  </nm-modal-window>

  <nm-modal-window #closeButtonExample [closeOnOverlayClick]="false" [showCloseButton]="true">
    <div body>
      <p>This modal shows a close button, but it will not close if you click on the grey overlay.</p>
    </div>
  </nm-modal-window>

  <nm-modal-window #onlyCloseProgrammaticallyExample [closeOnOverlayClick]="false" [showCloseButton]="false">
    <div body>
      <p>
        This modal doesn't show a close button and it will not close if you click on the grey overlay.
        It will only close if you call modalInstance.hide() on the component instance.  This is useful
        if you want to implement your own close button or lock the screen to prevent the user
        from interacting with the page behind the modal.
      </p>
      <button type="button" mat-raised-button color="primary" (click)="onlyCloseProgrammaticallyExample.hide()">Close Me</button>
    </div>
  </nm-modal-window>

  <nm-modal-window #customStylingExample modalClass="custom-styling-modal" overlayClass="custom-styling-overlay">
    <div body>
      <p>
        This modal uses custom styling to change the border color of the modal window, 
        the opacity of the overlay, and the font color.
      </p>
    </div>
  </nm-modal-window>
</section>