/* Set flex in order to right-align toolbar buttons as per
https://material.angular.io/components/toolbar/overview */
.fill-remaining {
    flex: 1 1 auto;
}

/* Slightly increase the side margins on the toolbar buttons 
to make them look a bit less cramped. */
.mat-toolbar .mat-raised-button {
    margin:0px 6px;
}

/* Hide the toolbar buttons on screens too small to display them. */
@media (max-width:550px) {
    .mat-toolbar .mat-raised-button {
        display:none;
    }
}

/* Display the list of example action buttons in a basic list without bullets. */
.exampleList {
    text-align: center;
    padding:0px;
}

ul.exampleList li {
    list-style-type: none;
    margin:5px;
}

/*
If you're applying styles from a component stylesheet, rather than
from a global stylesheet, then apply the ::ng-deep combinator in order to apply 
your styles within the modal-window component.  The shadow-piercing operators 
were recently removed without replacement in the evolving W3C spec.  This is an 
evolving topic and ng-deep is Angular's answer to this for the time being, although 
it's marked as deprecated and thus should be considered a temporary solution.  
I would suggest using this with caution in case the Angular team removes ng-deep 
before a clear replacement comes around.  See:
https://stackoverflow.com/questions/47024236/what-to-use-in-place-of-ng-deep
https://hackernoon.com/the-new-angular-ng-deep-and-the-shadow-piercing-combinators-deep-and-drop-4b088dbe459
https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep
*/
::ng-deep .custom-styling-modal {
    color:blue;
}