/* You can add global styles to this file, and also import other style files */

@import '_variables';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

.jumbotron {
    //margin-top: 3.4rem;
    margin-bottom: 0rem;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1.4rem;
    }
    p {
        font-size: 1.2rem;
    }

    .btn{
        margin: .5rem;
    }

    .buttons a{
        margin: 0.2rem;
    }

}

@include media-breakpoint-up(sm) {
    .jumbotron {
       // margin-top: 3.4rem;
        margin-bottom: 0rem;
        h1 {
            font-size: 3.6rem;
            margin-bottom: 1.8rem;
        }
        p {
            font-size: 1.4rem;
        }
        .buttons a{
            margin: 0.3rem;
        }
    }
}

/*
In order to set basic styles that aren't already applied, simply
set them in a CSS class and then bind that class to the modalClass
input property on the modal-window component.
*/
.customStylingModal {
    font-size:20px;
}

/*
Use a more specific CSS selector in order to 
override the existing styles such as border, 
background, padding, and text-align.
*/
div.modalWindow.customStylingModal {
    border-color: black;
}

div.modalOverlay.customStylingOverlay {
    background: rgba(0, 0, 0, 0.7);
}