<input type="button" (click)="modal1.show()" value="Show Modal 1" />

<modal-window #modal1 modalClass="playgroundModal" overlayClass="playgroundOverlay">
    <h1 header>You can put stuff in the header</h1>
    <div body>
        <p>Modal body paragraph text</p>
        <input type="button" value="Show Another" (click)="modal2.show()" />
    </div>
    <div footer>You can also put stuff in the footer</div>
</modal-window>

<modal-window #modal2>
    <h1 header>Another Modal</h1>
    <div body>
        <p>I'm layered on top of the first modal!  Wow!</p>
        <input type="button" value="Close Me" (click)="modal2.hide()" />
    </div>
</modal-window>